<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087651949975-aevaoui4m3l51ve7rh8hv4jq6umk7jcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087651949975-aevaoui4m3l51ve7rh8hv4jq6umk7jcj</string>
	<key>API_KEY</key>
	<string>AIzaSyCzaSZsKr8Tu61FS5uxg8QxXbV_iLynzJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>1087651949975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.ankportal.ankportal</string>
	<key>PROJECT_ID</key>
	<string>ankportal-d5a6d</string>
	<key>STORAGE_BUCKET</key>
	<string>ankportal-d5a6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087651949975:ios:d628e52945dbdd64</string>
	<key>DATABASE_URL</key>
	<string>https://ankportal-d5a6d.firebaseio.com</string>
</dict>
</plist>