<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230037518559-c7pb3li99m48svkckpa5ri5loa5bge5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230037518559-c7pb3li99m48svkckpa5ri5loa5bge5u</string>
	<key>API_KEY</key>
	<string>AIzaSyB4UUkA1PvB8a3PiU_oLYwlUbK93BrQ7vE</string>
	<key>GCM_SENDER_ID</key>
	<string>230037518559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.ankportal.Dartz</string>
	<key>PROJECT_ID</key>
	<string>dartz-ba984</string>
	<key>STORAGE_BUCKET</key>
	<string>dartz-ba984.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230037518559:ios:52a91943682dcf1c</string>
	<key>DATABASE_URL</key>
	<string>https://dartz-ba984.firebaseio.com</string>
</dict>
</plist>